@import url("https://fonts.googleapis.com/css2?family=Epilogue&family=M+PLUS+1+Code:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: black; }

header {
  background-image: linear-gradient(#161616, black);
  border-bottom: 2px solid #141413; }

.nav-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-family: "Epilogue", sans-serif; }
  .nav-link:hover {
    background-color: #141413;
    color: black; }

.dropdown-menu {
  background-color: #141413; }

.dropdown-item {
  text-decoration: none;
  color: white;
  font-family: "Epilogue", sans-serif; }
  .dropdown-item:hover {
    background-color: #e4e70e; }

.logoSize {
  width: 190px;
  position: relative;
  top: 5px;
  left: 10px; }

@media (min-width: 768px) {
  .logoSize {
    position: relative;
    top: 8px;
    left: 80px;
    width: 250px; } }

/* CENTRADO NAV BAR */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center; } }

@media (min-width: 1024px) {
  .logoSize {
    position: relative;
    left: 120px; } }

@media (min-width: 1440px) {
  .logoSize {
    position: relative;
    left: 230px;
    width: 300px; } }

.footer {
  width: 100%; }

footer {
  background-color: #141413;
  height: 7vh;
  display: grid;
  justify-content: center;
  align-items: center; }

.fab {
  color: white;
  font-size: 20px;
  padding: 5px 15px 5px 15px;
  border-radius: 10%; }
  .fab:hover {
    background-color: #e4e70e;
    color: black;
    transform: scale(1.2, 1.2) translateY(-2px); }

@media (min-width: 768px) {
  .fab {
    font-size: 25px;
    padding: 5px 25px 5px 25px; } }

@media (min-width: 1024px) {
  .fab {
    font-size: 30px;
    padding: 5px 30px 5px 30px; } }

@media (min-width: 1440px) {
  .fab {
    font-size: 35px;
    padding: 5px 35px 5px 35px; } }

.container-bio {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 80vh;
  margin: auto; }
  .container-bio .container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1rem; }
    .container-bio .container-img img {
      object-fit: cover;
      height: 100%;
      width: 100%; }
  .container-bio .container-text {
    text-decoration: none;
    color: white;
    font-family: "Epilogue", sans-serif;
    flex: 1;
    overflow-y: scroll;
    padding: 1rem; }
    .container-bio .container-text .title {
      text-align: center;
      padding-bottom: .5rem;
      border-bottom: 1px solid #e4e70e; }
    .container-bio .container-text .bold {
      font-weight: bold; }
    .container-bio .container-text .italic {
      font-style: italic; }
    .container-bio .container-text .boldItalic {
      font-weight: bold;
      font-style: italic; }

@media (max-width: 850px) {
  .container-bio {
    flex-direction: column;
    height: auto !important;
    margin-bottom: 1rem; }
    .container-bio .container-img {
      background-position: top;
      margin-bottom: .7rem; }
    .container-bio .container-text {
      overflow: visible;
      margin-bottom: 1rem; } }

.grilla2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 15px 0px;
  grid-auto-flow: row;
  grid-template-areas: "titulo titulo titulo titulo" "video1 video1 video1 video1" "video1 video1 video1 video1" "video2 video2 video2 video2" "video2 video2 video2 video2" "video3 video3 video3 video3" "video3 video3 video3 video3" "video4 video4 video4 video4" "video4 video4 video4 video4"; }

.titulo {
  grid-area: titulo;
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 35px; }

.video1 {
  grid-area: video1;
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center; }

.video2 {
  grid-area: video2;
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center; }

.video3 {
  grid-area: video3;
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center; }

.video4 {
  grid-area: video4;
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-bottom: 2.5rem; }

/* FORMATO MIX */
.mixCuadrado {
  border-bottom: solid #e4e70e 1px;
  width: 90vw;
  display: flex;
  justify-content: center; }

.mixTexto {
  width: 90vw;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-family: "Epilogue", sans-serif;
  text-decoration: none; }

.videoTitulo1, .videoTitulo2, .videoTitulo3, .videoTitulo4 {
  text-decoration: none;
  color: white;
  font-family: "Epilogue", sans-serif;
  font-size: 14.5px;
  text-decoration: underline;
  position: relative;
  top: 5px;
  animation-duration: 2s; }

.videoYoutube1, .videoYoutube2, .videoYoutube3, .videoYoutube4 {
  width: 250px;
  height: 150px;
  margin-top: 4%; }

@media (min-width: 425px) {
  .videoTitulo1, .videoTitulo2, .videoTitulo3, .videoTitulo4 {
    font-size: 18.5px; }
  .videoYoutube1, .videoYoutube2, .videoYoutube3, .videoYoutube4 {
    width: 350px;
    height: 210px; } }

@media (min-width: 768px) {
  .grilla2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 1fr 1fr 0.8fr 1fr 1fr 0.8fr;
    grid-auto-columns: 1fr;
    gap: 15px 0px;
    grid-auto-flow: row;
    grid-template-areas: "titulo titulo titulo titulo titulo titulo" "video1 video1 video1 video2 video2 video2" "video1 video1 video1 video2 video2 video2" "video1 video1 video1 video2 video2 video2" "video3 video3 video3 video4 video4 video4" "video3 video3 video3 video4 video4 video4" "video3 video3 video3 video4 video4 video4"; }
  .titulo {
    grid-area: titulo;
    width: 100%; }
  .video1 {
    grid-area: video1;
    width: 100%; }
  .video2 {
    grid-area: video2;
    width: 100%; }
  .video3 {
    grid-area: video3;
    width: 100%; }
  .video4 {
    grid-area: video4;
    width: 100%; }
  .mixTexto {
    border-bottom: solid #e4e70e 1px;
    width: 90vw;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-family: "Epilogue", sans-serif;
    text-decoration: none; }
  .videoTitulo1, .videoTitulo2, .videoTitulo3, .videoTitulo4 {
    font-size: 25px;
    text-align: center; } }

@media (min-width: 1024px) {
  .grilla2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 1fr 1fr 0.8fr 1fr 1fr 0.8fr;
    grid-auto-columns: 1fr;
    gap: 15px 0px;
    grid-auto-flow: row;
    grid-template-areas: "titulo titulo titulo titulo titulo titulo" "video1 video1 video1 video2 video2 video2" "video1 video1 video1 video2 video2 video2" "video1 video1 video1 video2 video2 video2" "video3 video3 video3 video4 video4 video4" "video3 video3 video3 video4 video4 video4" "video3 video3 video3 video4 video4 video4"; }
  .mixTexto {
    border-bottom: solid #e4e70e 1px;
    width: 90vw;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-family: "Epilogue", sans-serif;
    text-decoration: none; }
  .videoTitulo1, .videoTitulo2, .videoTitulo3, .videoTitulo4 {
    font-size: 30px;
    text-align: center; }
  .videoYoutube1, .videoYoutube2, .videoYoutube3, .videoYoutube4 {
    width: 480px;
    height: 300px; } }

.grillaDiscos {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
  gap: 10px 0px;
  grid-template-areas: "titulo titulo titulo titulo titulo titulo titulo"  "album1 album1 album1 album1 album1 album1 album1" "disco1 disco1 disco1 disco1 disco1 disco1 disco1"  "album2 album2 album2 album2 album2 album2 album2" "disco2 disco2 disco2 disco2 disco2 disco2 disco2"  "album3 album3 album3 album3 album3 album3 album3" "disco3 disco3 disco3 disco3 disco3 disco3 disco3"  "album4 album4 album4 album4 album4 album4 album4" "disco4 disco4 disco4 disco4 disco4 disco4 disco4"  "album5 album5 album5 album5 album5 album5 album5" "disco5 disco5 disco5 disco5 disco5 disco5 disco5"  "album6 album6 album6 album6 album6 album6 album6" "disco6 disco6 disco6 disco6 disco6 disco6 disco6"  "album7 album7 album7 album7 album7 album7 album7" "disco7 disco7 disco7 disco7 disco7 disco7 disco7"  "album8 album8 album8 album8 album8 album8 album8" "disco8 disco8 disco8 disco8 disco8 disco8 disco8"  "album9 album9 album9 album9 album9 album9 album9" "disco9 disco9 disco9 disco9 disco9 disco9 disco9"  "album10 album10 album10 album10 album10 album10 album10" "disco10 disco10 disco10 disco10 disco10 disco10 disco10"; }

.titulo {
  grid-area: titulo;
  width: 100vw;
  display: grid;
  justify-content: center;
  position: relative;
  bottom: 20%; }

.album1 {
  grid-area: album1;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center; }

.disco1 {
  grid-area: disco1;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.album2 {
  grid-area: album2;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.disco2 {
  grid-area: disco2;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.album3 {
  grid-area: album3;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.disco3 {
  grid-area: disco3;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.album4 {
  grid-area: album4;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.disco4 {
  grid-area: disco4;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.album5 {
  grid-area: album5;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.disco5 {
  grid-area: disco5;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.album6 {
  grid-area: album6;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.disco6 {
  grid-area: disco6;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.album7 {
  grid-area: album7;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.disco7 {
  grid-area: disco7;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.album8 {
  grid-area: album8;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.disco8 {
  grid-area: disco8;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.album9 {
  grid-area: album9;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.disco9 {
  grid-area: disco9;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.album10 {
  grid-area: album10;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.disco10 {
  grid-area: disco10;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.discos {
  border-bottom: solid #e4e70e 1px;
  width: 90vw;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-family: "Epilogue", sans-serif;
  text-decoration: none; }

.imgDiscos {
  width: 60vw; }

.titulosDiscos {
  text-decoration: none;
  color: white;
  font-family: "Epilogue", sans-serif;
  font-size: 15px; }

@media (min-width: 768px) {
  .grillaDiscos {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
    gap: 10px 0px;
    grid-template-areas: "titulo titulo titulo titulo titulo titulo titulo titulo"  "album1 album1 album1 album1 album2 album2 album2 album2" "disco1 disco1 disco1 disco1 disco2 disco2 disco2 disco2"  "album3 album3 album3 album3 album4 album4 album4 album4" "disco3 disco3 disco3 disco3 disco4 disco4 disco4 disco4"  "album5 album5 album5 album5 album6 album6 album6 album6" "disco5 disco5 disco5 disco5 disco6 disco6 disco6 disco6"  "album7 album7 album7 album7 album8 album8 album8 album8" "disco7 disco7 disco7 disco7 disco8 disco8 disco8 disco8"  "album9 album9 album9 album9 album10 album10 album10 album10" "disco9 disco9 disco9 disco9 disco10 disco10 disco10 disco10"; }
  .album1, .album2, .album3, .album4, .album5, .album6, .album7, .album8, .album9, .album10 {
    width: 50vw; }
  .disco1, .disco2, .disco3, .disco4, .disco5, .disco6, .disco7, .disco8, .disco9, .disco10 {
    width: 50vw; }
  .imgDiscos {
    width: 30vw; } }

.titleReg {
  display: flex;
  justify-content: center;
  animation-duration: 2s;
  margin-bottom: 1rem;
  margin-top: 1.2rem; }
  .titleReg .lineReg {
    display: flex;
    justify-content: center;
    border-bottom: solid #e4e70e 1px;
    width: 90vw;
    text-decoration: none;
    color: white;
    font-family: "Epilogue", sans-serif;
    text-decoration: none; }

.container-form {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #141413;
  width: 80%;
  max-width: 665px;
  margin: auto auto 4rem auto;
  padding: 2rem; }
  .container-form .container-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; }
    .container-form .container-inputs label {
      padding-bottom: .5rem; }
    .container-form .container-inputs input {
      padding: .2rem .4rem; }
  .container-form .container-select {
    margin-bottom: 1rem; }
    .container-form .container-select .form-select {
      font-family: "Epilogue", sans-serif;
      font-size: 15px; }
  .container-form .termsText {
    font-size: 12px; }
    .container-form .termsText .terms-accept {
      margin-top: 2rem; }
  .container-form .container-buttons {
    margin-top: 1rem; }
    .container-form .container-buttons input {
      font-family: "Epilogue", sans-serif;
      outline: none;
      border: none;
      padding: .5rem;
      border-radius: .2rem;
      margin-right: .5rem;
      margin-top: .5rem; }

.grillaMerch {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
  gap: 10px 0px;
  grid-template-areas: "titulo titulo titulo titulo titulo titulo titulo"  "merch1 merch1 merch1 merch1 merch1 merch1 merch1" "titMerch1 titMerch1 titMerch1 titMerch1 titMerch1 titMerch1 titMerch1"  "merch2 merch2 merch2 merch2 merch2 merch2 merch2" "titMerch2 titMerch2 titMerch2 titMerch2 titMerch2 titMerch2 titMerch2"  "merch3 merch3 merch3 merch3 merch3 merch3 merch3" "titMerch3 titMerch3 titMerch3 titMerch3 titMerch3 titMerch3 titMerch3"  "merch4 merch4 merch4 merch4 merch4 merch4 merch4" "titMerch4 titMerch4 titMerch4 titMerch4 titMerch4 titMerch4 titMerch4"  "merch5 merch5 merch5 merch5 merch5 merch5 merch5" "titMerch5 titMerch5 titMerch5 titMerch5 titMerch5 titMerch5 titMerch5"; }

.titulo {
  grid-area: titulo;
  width: 100vw;
  display: grid;
  justify-content: center;
  position: relative;
  bottom: 20%; }

.merch1 {
  grid-area: merch1;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center; }

.titMerch1 {
  grid-area: titMerch1;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.merch2 {
  grid-area: merch2;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.titMerch2 {
  grid-area: titMerch2;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.merch3 {
  grid-area: merch3;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.titMerch3 {
  grid-area: titMerch3;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.merch4 {
  grid-area: merch4;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.titMerch4 {
  grid-area: titMerch4;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.merch5 {
  grid-area: merch5;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.titMerch5 {
  grid-area: titMerch5;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.titulosMerch {
  text-decoration: none;
  color: white;
  font-family: "Epilogue", sans-serif;
  font-size: 15px; }

.imgMerch {
  width: 60vw; }

@media (min-width: 768px) {
  .grillaMerch {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
    gap: 10px 0px;
    grid-template-areas: "titulo titulo titulo titulo titulo titulo titulo titulo"  "merch1 merch1 merch1 merch1 merch2 merch2 merch2 merch2" "titMerch1 titMerch1 titMerch1 titMerch1 titMerch2 titMerch2 titMerch2 titMerch2"  "merch3 merch3 merch3 merch3 merch4 merch4 merch4 merch4" "titMerch3 titMerch3 titMerch3 titMerch3 titMerch4 titMerch4 titMerch4 titMerch4"  "merch5 merch5 merch5 merch5 merch5 merch5 merch5 merch5" "titMerch5 titMerch5 titMerch5 titMerch5 titMerch5 titMerch5 titMerch5 titMerch5"; }
  .merch1, .merch2, .merch3, .merch4, .merch5 {
    width: 50vw; }
  .titMerch1, .titMerch2, .titMerch3, .titMerch4, .titMerch5 {
    width: 50vw; }
  .imgMerch {
    width: 30vw; } }
