*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

@import './variables/fuentes';
@import './variables/colores';
@import './variables/mixins';


@import './secciones/header';
@import './secciones/footer';
@import './secciones/index';
@import './secciones/musica';
@import './secciones/discos';
@import './secciones/registro';
@import './secciones/merchandise';


