.grillaDiscos {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.1fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr; 
    gap: 10px 0px; 
    grid-template-areas: 
      "titulo titulo titulo titulo titulo titulo titulo"

      "album1 album1 album1 album1 album1 album1 album1"
      "disco1 disco1 disco1 disco1 disco1 disco1 disco1"

      "album2 album2 album2 album2 album2 album2 album2"
      "disco2 disco2 disco2 disco2 disco2 disco2 disco2"

      "album3 album3 album3 album3 album3 album3 album3"
      "disco3 disco3 disco3 disco3 disco3 disco3 disco3"

      "album4 album4 album4 album4 album4 album4 album4"
      "disco4 disco4 disco4 disco4 disco4 disco4 disco4"

      "album5 album5 album5 album5 album5 album5 album5"
      "disco5 disco5 disco5 disco5 disco5 disco5 disco5"

      "album6 album6 album6 album6 album6 album6 album6"
      "disco6 disco6 disco6 disco6 disco6 disco6 disco6"

      "album7 album7 album7 album7 album7 album7 album7"
      "disco7 disco7 disco7 disco7 disco7 disco7 disco7"

      "album8 album8 album8 album8 album8 album8 album8"
      "disco8 disco8 disco8 disco8 disco8 disco8 disco8"

      "album9 album9 album9 album9 album9 album9 album9"
      "disco9 disco9 disco9 disco9 disco9 disco9 disco9"

      "album10 album10 album10 album10 album10 album10 album10"
      "disco10 disco10 disco10 disco10 disco10 disco10 disco10"; 
  }

  .titulo { 
      grid-area: titulo;
      width: 100vw;
      display: grid;
      justify-content: center;
      position: relative;
      bottom: 20%;
    }

    .album1 { 
        grid-area: album1;
        width: 100vw;
        display: grid;
        justify-content: center;
        align-items: center;  
      }

  .disco1 { 
      grid-area: disco1;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
    }

  .album2 { 
      grid-area: album2;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
    }

  .disco2 { 
      grid-area: disco2;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
    }

  .album3 { 
      grid-area: album3;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
    }

  .disco3 { 
      grid-area: disco3;

      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  .album4 { 
      grid-area: album4;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
    }

  .disco4 { 
      grid-area: disco4;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
    }

  .album5 { 
      grid-area: album5;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
    }

  .disco5 { 
      grid-area: disco5;

      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
    }

  .album6 { 
      grid-area: album6;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
    }

  .disco6 { 
      grid-area: disco6;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
    }

  .album7 { 
      grid-area: album7;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
    }

  .disco7 { 
      grid-area: disco7;

      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
    }

  .album8 { 
      grid-area: album8;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
    }

  .disco8 { 
      grid-area: disco8;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
    }
  .album9 { 
      grid-area: album9;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
    }
  .disco9 { 
      grid-area: disco9;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
    }
  .album10 { 
      grid-area: album10;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
    }
  .disco10 { 
      grid-area: disco10;

      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
    }
  

.discos{
    border-bottom: solid $colorLineas 1px;
    width: 90vw;
    display: flex;
    justify-content: center;
    animation-duration: 2s;
    @include fontStyle();
    text-decoration: none;
}

.imgDiscos{
    width: 70vw;
}

.titulosDiscos{
    @include fontStyle();
    font-size: 15px;
}