
.portadaDigweed{
    width: 300px;
}

    .tituloEventos{
        @include fontStyle();
    }

    .grillaEventos {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "section1 section1 section1 section1 section1 section1 section1 section1"
          "section1 section1 section1 section1 section1 section1 section1 section1"
          "section1 section1 section1 section1 section1 section1 section1 section1"
          "section2 section2 section2 section2 section2 section2 section2 section2"
          "section2 section2 section2 section2 section2 section2 section2 section2"
          "section2 section2 section2 section2 section2 section2 section2 section2"
          "section3 section3 section3 section3 section3 section3 section3 section3"
          "section3 section3 section3 section3 section3 section3 section3 section3"
          "section3 section3 section3 section3 section3 section3 section3 section3"; 
      }
      .section1 { 
          grid-area: section1; 
        }
      .section2 { 
          grid-area: section2; 
        }
      .section3 { 
          grid-area: section3; 
        }



    


 
