footer{
    background-color: $colorFooter;
    height: 7vh;
    display: grid;
    align-items: center;
}

.face{
    width: 30px;
    padding-right: 10%;

}
.insta{
    width: 30px;
    padding-right: 10%;
}
.spoty{
    width: 30px;
    padding-right: 10%;

}
.mixcloud{
    width: 30px;
    padding-right: 10%;

}