
header{
    background-image:linear-gradient(rgb(22, 22, 22), black);

}

.nav-link{
    display: flex;
    justify-content: center;
    @include fontStyle();
    &:hover{
        background-color: $colorFooter;
        color: black;
    }

}

.dropdown-menu{
    background-color: $colorFooter;
}

.dropdown-item{
    @include fontStyle();
    &:hover{
        background-color: $colorLineas;
    }

}

.logoSize{
    width: 180px;
    position: relative;
    top: 5px;
    left: 40px;
           
}

hr{
    border-bottom: 3px solid rgb(63, 63, 61);

}