.container-bio{
  display: flex;
  justify-content: center;
  width: 90%;
  height: 80vh;
  margin: auto;

  .container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1rem;

    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .container-text{
    @include fontStyle();
    flex: 1;
    overflow-y: scroll;
    padding: 1rem;
    .title{
      text-align: center;
      padding-bottom: .5rem;
      border-bottom: 1px solid $colorLineas;
    }
    .container-article{
      padding-bottom:.5rem;
      padding-top: .5rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid $colorLineas;
    }
    .bold{
      font-weight: bold;
    }
    .italic{
      font-style: italic;
    }
    .boldItalic{
      font-weight: bold;
      font-style: italic;
    }
  }
}

// MEDIAS QUERIS

@media (max-width: 850px) {
  
  .container-bio{
    flex-direction: column;
    height: auto !important;
    margin-bottom: 1rem;
    .container-img{
      background-position: top;
      margin-bottom: .7rem;
    }
    .container-text{
      overflow: visible;
      margin-bottom: 1rem;
    }
  }
}