.titleReg{
    display: flex;
    justify-content: center;
    animation-duration: 2s;
    margin-bottom: 1rem;
    margin-top: 1.2rem;
    .lineReg{
        display: flex;
        justify-content: center;
        border-bottom: solid $colorLineas 1px;
        width: 90vw;
        @include fontStyle();
        text-decoration: none;
    }
}

.container-form{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: $colorFooter;
    width: 80%;
    max-width: 665px;
    margin: auto auto 4rem auto;
    padding: 2rem;
    .container-inputs{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        label{
            padding-bottom: .5rem;
        }
        input{
            padding: .2rem .4rem;
        }
    }
    .container-select{
        margin-bottom: 1rem;
        .form-select{
            font-family: $san-serif;
            font-size: 15px;
        }
    }
    .termsText{
        font-size: 12px;
        .terms-accept{
            margin-top: 2rem;
        }
    }
    
    .container-buttons{
        margin-top: 1rem;
        input{
            font-family: $san-serif;
            outline: none;
            border: none;
            padding: .5rem;
            border-radius: .2rem;
            margin-right: .5rem;
            margin-top: .5rem;
        }
    }
}