
.registro{
    @include fontStyle();
    width: 95%;
    border-bottom: solid $colorLineas 1px;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    position: relative;
    left: 2.5%;
}

.formulario{
    @include fontStyle ();
    font-size: 15px;
    width: 90%;
    margin-top: 30px;
    background-color: $colorFooter;
    display: grid;
    position: relative;
    left: 5.3%;

}

.textForm{
    position: relative;
    left: 5%;
    top: 40%;
}

.tamanioInput{
    width: 89%;
    height: 30px;
    padding: 5px;
    position: relative;
    left: 5%;
}

.radioInput{
    display: flex;
    justify-content: center;

}
.opcionSex{
    display: flex;
    justify-content: center;
    position: relative;
    top: 30%;
}

.sexoAlinear{
    margin-top: 2%;
    display: flex;
    justify-content: center;   
    position: relative;
    top: 40%;
}

.nacionAlinear{
    margin-top: 5%;
    display: flex;
    justify-content: center;   
    position: relative;
}

.cuadroNacion{
    text-align: center;
    height: 23px;
    width: 120px;
    position: relative;
    left: 42%;
}

.textoCondiciones{
    display: flex;
    margin-top: 1%;
    padding: 30px 10px 0px 10px;
    font-size: 15px;
}

.terminosCondiciones{
    display: inline-block;
}

.terminFlex{
display: grid;
justify-content: center;
}

/* BOTONES */

.botones{
    height: 23px;
    width: 120px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
     
}

.list-group-item{
    display: flex;
    justify-content: center;
    border: none;
    color: white;
    background-color: $colorFooter;
}